{% extends 'prods/base.html'%}
{% load static%}
{% block title%}your cart{% endblock%}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col col-md-10 mx-auto">
            <h2 class="my-3 text-center">Details about your cart</h2>
            {% if not items %}
            <h4>No items In Your Cart Yet</h4>
            {% else %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="text-center"># Cart Id</th>
                  <th scope="col" class="text-center"># Item Id</th>
                  <th scope="col" class="text-center">Product</th>
                  <th scope="col" class="text-center">Edit Quantaty</th>
                  <th scope="col" class="text-center">Price per 1 st</th>
                  <!-- <th scope="col" class="text-center">Quantity</th> -->
                  <th scope="col" class="text-center">Delete</th>
                  <th scope="col" class="text-center">Sub-Total</th>
                  <th scope="col" class="text-center">Total Price</th>
                </tr>
              </thead>
              <tbody>
                  {% for item in items %}
                <tr class="on-move-{{item.product.id}}">
                  <th scope="row" class="text-center"># {{cart.id}}</th>
                  <th scope="row" class="text-center">{{item.id}}</th>
                  <!-- {{prod.get_absolute_url -->
                  <td class="text-center"> <a href="#">{{item.product}}</a></td>
                  <td class="text-center">
                      <div class="form-group">
                          <form class="form-cart-change-items form-inline my-2 my-lg-2 px-2" action="{% url 'prods:edit-cart-items' item.id %}" method="POST">
                                {% csrf_token %}
                                <input type="number" id="quantity" name="qty"
                                        class="form-control input-number text-center"
                                        value="{{item.qty}}"
                                        min="1"
                                        max="100"
                                        style="width:80px;"
                                        >
                                <button type="submit" class="btn btn-success">Edit</button>
                           </form>
                      </div>
                    </td>
                  <td class="text-center">${{item.product.price}}</td>
                  <!-- <td class="text-center">item.qty}} pieces</td> -->
                  <td class="text-center ">
                      <a class="remove-item"
                      data-id={{item.product.id}}
                      href="{% url 'prods:delete-cart-item' item.id %}"><img src="{% static 'images/trash.svg' %}" alt="basket">
                      </a>
                  </td>

                  <td class="text-center" id="itemSubTotal">${{item.sub_total}}</td>
                  <td></td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td><td></td><td></td><td></td><td></td>
                    <td class="text-center" id="totalItemsInCart">Items In Total: {{qty}}</td>
                    <td></td><td></td>
                    <td class="text-center" id="totalPriceCart">Total Price (shipping excl) {{cart.total}}$</td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td class="text-center">
                        <form action="{% url 'orders:create-order' %}"  method="POST">
                            {% csrf_token %}
                            <input type="number" name="pk"
                                     value="{{cart.id}}"                                         hidden >
                            <input type="submit" value="Proceed To Checkout"
                                class="btn btn-success">
                        </form>
                    </td>
                </tr>
                </tbody>
                </table>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(".form-cart-change-items").on('submit',function(e){
        e.preventDefault(e);
        var totalPriceCart = $("#totalPriceCart");
        var totalItemsInCart = $("#totalItemsInCart");
        var qty = $("#quantity").val();
        var subTotal = $("#itemSubTotal");
        $.ajax({
                url:$(this).attr('action'),
                data:$(this).serialize(),
                type:$(this).attr("method"),
                success:function(response){
                    console.log('ajax firing')
                    totalPriceCart.html(response.cartTotalPrice),
                    totalItemsInCart.html(response.totalItemsInCart),
                    subTotal.html(response.subTotal)
                },
                error: function(err){
                  console.log('error',err)
              }                

       }) //end ajax
    }); //end $form-cart-change-items
</script>
<!-- error: function(err){
  console.log('error',err);
} -->
<script type="text/javascript">
    $(".remove-item").on('click',function(e){
        e.preventDefault();
        url = $(this).attr('href');
        //should be item.priduct.id ( item self is alredy deleted)
        var removeId=$(this).attr('data-id');
        console.log(removeId);
        $.ajax({
            url:url,
            type:"GET",
            success:function(response){
                console.log('greet from delete');
                $(".on-move-"+ removeId).css('display','none');

            },
            error: function(err){
              console.log('error',err)
          }
        })
    })
</script>

{% endblock js%}
