{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}payment{% endblock %}
{% block content %}
<div class="container">
    <h1>Finally payment</h1>
    <div class="row">
        <div class="col col-md-6">
            <h4>Pay with PayPal</h4>
                {{form.render}}
            <p>end of book button</p>
        </div>
        <div class="col col-md-6">
            <h2><a href="{% url 'payments:start_stripe' %}">Pay with credit card</a></h2>

        </div>
    </div>
    <hr>
{% endblock content%}

{% block js %}
{% endblock js %}
