<div class="container">

<div class="row py-3">
          <div class="col-md-7">
              <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Track your order</a>
                  </li> -->
                  <li class="nav-item">
                    <!-- <a class="nav-link" href="#">Other Confs</a> вместо это ссылки 3п в незатейливом простом меню nav-->
                    <!-- <p>code внизу == ради единственной кнопки с выпадающим меню</p> -->
                    <div class="btn-group dropup">
                      <button type="button" class="btn btn-outline-secondary">Other Confs</button>
                      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"     aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Contact</a>
                            <a class="dropdown-item" href="#">Client Service</a>
                            <a class="dropdown-item" href="#">Logistic</a>
                            <!-- <p>всё, что внизу: можно удалить,т.к. спец выделение каког-то события</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">others(apart)</a> -->
                      </div>
                    </div>
                  </li>
                </ul>
          </div>
          <div class="col-md text-md-right">
                <small>&copy; 2018 Tanja &amp; Co</small>
           </div>
   </div>
</div>
<!-- /footer -->
