{% extends 'prods/base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}billing data{% endblock %}
{% block content %}
<div class="container-fluid my-3">
    <h1>Billing Info Collecting</h1>
    <p>Add info about the order...</p>
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-info" role="alert">
                <button class="close" data-dismiss="alert">
                <small><sup>X</sup></small>
                </button>
                <p>{{msg}}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        {% if order %}
        <div class="col-md-4">
            <h3>Info about order with id: {{order.id}}</h3>
        </div>
        <div class="col-md-6">
            <!-- for ajax id="gopay"  -->
            <form action="{% url 'profiles:adjust-profile' user.id %}" method="post">
                {% csrf_token %}
                 {% bootstrap_form form %}
                <input type="submit" class="btn custom-success-btn"    value="Edit">
            </form>
        </div>
        {% else %}
        <h1>Noop</h1>
        {% endif %}

    </div>
</div>

{% endblock content%}
