{% extends 'prods/base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}billing data{% endblock %}
{% block content %}
<div class="container-fluid my-3">
    <h1>Billing Info Collecting</h1>
    <p>Add info about the order...</p>
    <div class="row">
        <div class="col-md-4">
            <h3>Info about order with id: {{order.id}}</h3>

        </div>
        <div class="col-md-6">
            <form  action="{% url 'orders:checkout' %}" method="post">                    
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn custom-success-btn" type="submit" value="Save">
            </form>
        </div>
    </div>


</div>
{% endblock content%}
