{% extends 'base.html'%}
{% block content %}
<!-- <h1>Step 1:</h1>
<h3>Checking Out:Welcome,{{user}} with cart id accepted False {{cart.id}}</h3>
<p>render cart(accepted=False) content + shipping $</p>
<p>Cart Total {{object.cart.total}}</p>
<p>Shipping Total: {{object.shipping_total}}</p>
<p>Here you need to calc Cart Total + Shipping Total</p>
<p>Order Total: {{object.total}}</p> -->
<div class="row">
    <div class="col-md-6">
        <h4>Create An Account</h4>
        <p>here comes a form for a user</p>
    </div>
    <div class="col-md-6">
        <h4>Go As A Guest</h4>
        <p>here comes a form for a guest</p>
    </div>
</div>
{% endblock content %}
