{% extends 'prods/base.html'%}
{% load staticfiles %}

{% block title %}create-order{% endblock %}
{% block content %}

{% block product%}
<div class="container">
    <h1>Welcome by CheckingOut</h1>
    <p>{{cart}}</p>
    <p>cart id {{cart.id}}</p>

    <h4>Info about your order:</h4>
    <ul>
        <li>Order Num: {{order.id}}</li>
        <li>Order generic Num {{order.order_id}}</li>
        <li>order shipping: {{order.shipping_total}}</li>
        <li>Order $total is {{order.total}}</li>
    </ul>
    <p>cart.accepted, sum is: {{summa}}</p>


</div>

{% endblock product%}
{% endblock content%}
