{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}list of pre-orders{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if orders %}
    <h3 class="text-center">Welcome by List of Pre-Orders</h3>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">User</th>
      <th scope="col"># Id</th>
      <th scope="col"># Generic Id</th>
      <th scope="col">Status</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Order Total(exl shipping)</th>
      <th scope="col">Shipping cost</th>
      <th scope="col">Order Total(incl shipping)</th>
      <th scope="col">Delete</th>
      <th scope="col">Afronden</th>
    </tr>
  </thead>
  <tbody>
      {% for order in orders %}
      <tr class="tab_row-{{order.cart.id}}" >
      <td scope="row">cart_user: {{order.cart.id}}</td>
      <td scope="row">{{order.id}}</td>
      <td scope="row">{{order.order_id}}</td>
      <td scope="row">{{order.status}}</td>
      <td scope="row">{{order.date}}</td>
      <td scope="row">$ {{order.cart.total}} </td>
      <td scope="row">$ {{order.shipping_total}}</td>
      <td scope="row">$ {{order.total}}</td>
      <td>
          <form class="remove-order" data-id={{order.cart.id}} action="{% url 'orders:delete-order' %}"  method="post">
              <!-- {% url 'orders:list-orders' -->
              {% csrf_token %}
            <input type="number" name="pk" value="{{order.id}}" hidden>
            <input type="submit"  class="btn custom-danger-btn" value="Delete">
          </form>

      </td>
      <td>
          <form action="{% url 'orders:checkout' %}"  method="get">
              <!-- {% url 'orders:list-orders' -->
              <!-- {% csrf_token  -->
            <input type="number" name="pk" value="{{order.id}}" hidden>
            <input type="submit"  class="btn custom-success-btn" value="CheckOut">
          </form>

      </td>
    </tr>
    {% endfor %}
    {% else %}
    <h2>No Current Orders</h2>
    {% endif %}

  </tbody>
</table>
<hr>
</div>
{% endblock %}
