{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}history orders{% endblock %}
{% block content %}
<div class="container-fluid my-3">
    {% if object_list %}
    <h3 class="text-center">Welcome by History Paid Orders</h3>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">User</th>
      <th scope="col"># Id</th>
      <th scope="col"># Generic Id</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Order Total</th>
      <th scope="col">Payment Time</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
      {% for order in object_list %}
      <tr class="tab_row-{{order.cart_id}}" >
      <td scope="row">user-id: {{order.cart.user_id}}</td>
      <td scope="row">{{order.id}}</td>
      <td scope="row">{{order.order_unid}}</td>
      <td scope="row">{{order.status}}</td>
      <td scope="row">{{order.date}}</td>
      <td scope="row"><a href="{% url 'orders:order-detail' order.order_unid %}">Details</a></td>
      <td scope="row">$  {{order.total}}</td>
      <td scope="row">
        paypal?
      </td>
      <td scope="row">
          <button class="btn custom-success-btn"><a href="{% url 'orders:order-detail' order.order_unid %}">View Details</a></button>
      </td>
    </tr>
    {% endfor %}
    </<tbody>
</table>
{% endif %}
<hr>
        {% if accepted_not_paid_yet_orders %}
        <h3 class="text-center">Welcome by Not Paid YET Orders</h3>
    <table class="table table-striped">
   <thead>
    <tr>
      <th scope="row">User</th>
      <th scope="col"># Id</th>
      <th scope="col"># Generic Id</th>
      <th scope="col">Status</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Order Total</th>
      <th scope="col">payIdeal_id</th>
      <th scope="col">Afronden</th>
    </tr>
  </thead>
  <tbody>
      {% for order in accepted_not_paid_yet_orders %}
      <tr class="tab_row-{{order.cart_id}}" >
      <td scope="row">user-id: {{order.cart.user_id}}</td>
      <td scope="row">{{order.id}}</td>
      <td scope="row">{{order.order_unid}}</td>
      <td scope="row">{{order.status}}</td>
      <td scope="row">{{order.date}}</td>
      <td scope="row">$  {{order.total}}</td>
      <td>
          {{order.payIdeal_id}}
          </td>
      <td>
          link to afronden
      </td>
    </tr>
    {% endfor %}
    {% endif %}

  </tbody>
</table>
<hr>
</div>
{% endblock %}
